<mat-card class="login-container">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <div fxLayout="row wrap">
        <mat-form-field class="email" [floatLabel]="auto">
          <input matInput placeholder="email" formControlName="email">
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field class="password" [floatLabel]="auto">
          <input matInput placeholder="Enter password" formControlName="password" />
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" class="submit-action">
        <mat-card-actions>
          <button class="submit-btn" mat-raised-button (click)="login()">Log In</button>
        </mat-card-actions>
      </div>

    </form>

  </mat-card-content>

  <mat-card-footer>
    <button mat-raised-button routerLink="/signup">Need an Account?</button>
  </mat-card-footer>
</mat-card>
