.mat-form-field.first-name, .mat-form-field.last-name {
  width: 40%;
}
.mat-form-field.email, .mat-form-field.password {
  width: 100%;
}
.mat-card-actions {
  width: 100%;
  margin-top: 5px;

  .submit-btn {
    width: 100%;
  }

}
