.products-container {
  width: 100%;
  max-width: 100% !important;
  position: relative;
  border-radius: 2px;
  //padding: 10px 10px 30px;
  //margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
}

.product-item {
  padding: 3px 3px 3px 3px;
}

.image-content {

  img {
    height: 220px
  }

}

.product-footer-actions {
  margin-bottom: 5px;
}

